@import "tailwindcss";

@font-face {
  font-family: 'Kantumruy';
  src: url('./assets/fonts/Kantumruy-Medium.ttf') format('truetype');
}

* {
  font-family: 'Kantumruy', sans-serif !important;
  font-size: 16px;
}